* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #FF385C;
  --black: #222222;
  --white: #fff;
  --lightestGrey: #dddddd50;
  --lightGrey: #dddddd;
  --mediumGrey: #b0b0b0;
  --grey: #717171;
  --gradient: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  --radial: radial-gradient(circle at center, #FF385C 0%, #E61E4D 50%, #E31C5F 90%, #D70466 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--black);
  font-family: 'Airbnb Cereal App', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20rem;
}

.header {
  padding: 1.5rem 20vw;
  height: 8vh;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .05);
  margin-bottom: 1rem;
}

.header-logo {
  height: 5vh;
  width: 5vh;
}

.header-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary);
}

.module {
  padding-top: 5rem;
  padding-left: 20vw;
}